/* Style */
body{
	padding:0;
	margin:0;
}
img{
	border:0;
}
#main{
	margin: 0 auto;
}

#conteudo{
	width: 100%;
	margin: 0 auto;
	background-image: url("imagens/background_header.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}
#cont_header{
	margin: 0 auto;
	width: 1080px;
	height: 185px;
	background-image: url("imagens/background_header.png");
	background-repeat: repeat-x;
	background-position: 0 0;

}

#header{
	width: 870px; 
	height: 185px;
	float: left;
}

#logo{
	float: left;
	width:160px;
	height:150px;
	background-image: url('imagens/logo.png');
	margin:0;
}


#txt01_header{
	height: 45px;
	float: left;
	width: 500px;
	font-size: 17px;
	font-weight: bold;
	color: white;
	margin:73px 0px 0px 0px;
	font-family: arial, verdana, sans-serif;
	display:none;
}

#area_aluno{
	width: 182px;
	height: 35px;
	position:absolute;
	margin: 66px 0 0 699px;
	float: left;
}







#menu_top{
	width: 527px;
	height: 20px;
	margin: 55px 0 0 -20px;
	background-image: url("imagens/background_menu.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	float: left;
}
#foto_top{
	float: left;
	background: url("galeronaa.png") no-repeat;
	background-size:90% 90%;
	background-position:16px 6px;
	width: 60px;
	height: 50px;
	margin: 60px 70px;
	opacity:0
}
#menu{
	width:760px;
	float: left;
	margin: -15px 0 0 178px;

}
#menu ul{ 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:10px; 
	color:#000;
	width: 760px;
	float: left;
	margin: 10px 0 0 0;
	padding: 0 0 0 0;
}
#menu ul li{ 
	float:left; 
	list-style-type:none;
}

#menu ul li a.btn_inicio{ 
	width: 54px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_inicio.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}

.btn_inicio_on {
	width: 54px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_inicio.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
	background-position: 0 -20px;  
}



#menu ul li a.btn_01{ 
	width: 48px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_livros_cursos.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}

#menu ul li a.btn_demo{ 
	width: 119px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_demonstracao.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}

.btn_demo_on {
	width: 119px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_demonstracao.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
	background-position: 0 -20px;  
}

#menu ul li a.btn_02{
	width: 54px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_blogs.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}

.btn_02_blogs_on{
	width: 54px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_blogs.png); 
	background-repeat:no-repeat;
	background-position: 0 -20px;
	margin: 0 2px 0 0;
}
#menu ul li a.btn_jogos{
	width: 54px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_jogos.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}

.btn_jogos_on{
	width: 54px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_jogos.png); 
	background-repeat:no-repeat;
	background-position: 0 -20px;
	margin: 0 2px 0 0;
}



#menu ul li a.btn_03{
	width: 100px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_institucional.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}
.btn_03_institu_on{
	width: 100px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_institucional.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
	background-position: 0 -20px;
}
#menu ul li a.btn_04{
	width: 72px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_projetos.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}


.btn_04_projetos_on{
	width: 72px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_projetos.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
	background-position: 0 -20px;
}



#menu ul li a.btn_05{
	width: 77px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_parcerias.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
}

.btn_05_parceria_on{
	width: 77px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_parcerias.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
	background-position: 0 -20px;
  
}



#menu ul li a.btn_06{
	width: 74px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_contatos.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;

}
.btn_06_contato_on{
	width: 74px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type:none;
	background-image:url(imagens/btn_contatos.png); 
	background-repeat:no-repeat;
	margin: 0 2px 0 0;
	background-position: 0 -20px;
}


#menu ul li a.aplicativos{
	width: 86px;
	height:20px;
	text-align: center;
	float: left; 
	list-style-type:none;
	background-image:url(imagens/btn_aplicativos.png); 
	background-repeat:no-repeat;
	margin: 0 0 0 0;


}
.aplicativos_on{
	width: 86px;
	height:20px;
	text-align: center;
	float:left; 
	list-style-type: none;
	background-image:url(imagens/btn_aplicativos.png); 
	background-repeat:no-repeat;
	margin: 0 0 0 0;
	background-position: 0 -20px;
}

#menu ul li a{ 
	height:20px;
	display:block;
}
#menu ul li a:hover{ 
	background-position: 0 -20px;
}

/* Conteudo da HOME */


#cont_home{
	margin: 0 auto;
	width: 799px;
}
#col_esq{
	width: 385px;
	float: left;
	height: 500px;
	padding: 50px 0 48px 35px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-weight: normal;
	text-align: justify;
	border-left: 2px dotted #e6e6e6;
}
.tit_01{
	display: block;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:21px; 
	font-weight: normal;
	text-align: justify;
	color: #648ec9;
	margin: 0 0 25px 0;
}
.area_txt_01{
	width: 350px;
	display: block;
	float: left;
	padding: 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	color: #666666;
}
#col_bottom{
  margin: 70px 0 0 20px;
}
#col_dir{
	width: 370px;
	float: left;
	padding: 0 3px 0 0;
	border-left: 2px dotted #e6e6e6;
	border-right: 2px dotted #e6e6e6;
}

#bloco{
	width: 372px;
	height:150px;
	float: left;
	padding: 0 0 0 0;
	border-bottom: 2px dotted #e6e6e6;
}

#bloco_bottom{
	width: 372px;
	height:120px;
	display: block;
	float: left;
	padding: 0 0 30px 0;
}





#conteudo_rdp{
	width: 100%;
	margin: 0 auto;
	background-image: url("imagens/background_rdp.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	padding: 0;
}



#rdp{
	width: 1080px;
	padding: 6px 0 0 0;
	background-image: url("imagens/background_rdp.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	text-align: center;
	margin: 0 auto;	
}





/* Fim da HOME */


/* Demonstra��o */

#cont_demo{
	margin: 0 auto;
	width: 880px;
	padding: 0 0 0 0;
}


#col_esq_demo{
	width: 235px;
	float: left;
	padding: 40px 0 0 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-weight: normal;
}

.img_demo{
  padding: 0 15px 20px 0;
  border-bottom: 2px dotted #e6e6e6;
  float: right;
}

.sub_tit_demo{
	width: 205px;
	margin: 0 0 20px 0;
	padding: 0 30px 0 0;
	display: block;
	float: right;
	font-family:Verdana, Arial, sans-serif, Times New Roman;
	font-style:italic;
	font-weight:bold;
	text-align: right;
	font-size:12px;
	color:#6699CC;
}

.sub_tit_demo_certificado{
	width:500px;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	display: block;
	float: left;
	font-family:Verdana, Arial, sans-serif, Times New Roman;
	font-style:italic;
	font-weight:bold;
	text-align: left;
	font-size:12px;
	color:#6699CC;
}



.txt_certificado{
	width: 450px;
	margin: 0 0 0 0;
	padding: 10px 0 0 0;
	display: block;
	float: left;
	line-height: 16px;
	font-family: Verdana, Arial, sans-serif, Times New Roman;
	font-weight: normal;
	text-align: left;
	font-size: 11px;
	color: #666666;
}



#col_esq_demo ul{ 
	font-family:Verdana, Arial, sans-serif, Times New Roman;
	font-size:12px; 
	float: right;
	text-align: right;
	color:#666666;
	width: 200px;
	margin: 10px 0 0 20px;
	padding: 0 25px 10px 0;
}

#col_esq_demo ul li{ 
	list-style-type:none;
}

#col_esq_demo ul li a{ 
	display:block;
	height:20px; 
	text-decoration: none;;  
} 

#col_esq_demo ul li a:hover{ 
	text-decoration: underline;
}

#col_esq_demo ul li a.btn_lateral_demo{ 
	width: 198px;
	height:17px;
	list-style-type:none;
	margin: 0 0 5px 0;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#666666;
	padding: 0 0 0 0;
	float: left;
	
	
}
#cont_formulario_parceria{
  width:415px;
  height: 245px;
  float: left;
  padding: 15px 0 0 2px;
  margin: 0 0 30px 0;  
}


#col_dir_demostracao{
	width: 400px;
	height: 1200px;
	float: left;
	padding: 0 3px 0 0;
	border-left: 2px dotted #e6e6e6;
	border-right: 2px dotted #e6e6e6;
}


.img_demo_gratis{
	padding: 0 0 0 5px;
	width: 228px;	
	height: 105px; 
	display: block;
	border-bottom: 2px dotted #e6e6e6;
	/*float: right;*/
}

#col_gratis_demo{
	position:relative;
	width:179px;
	height: 653px;
	float: right;
	padding: 40px 3px 0 0;
}

#banner_flash_loja{
	width: 390px;
	height: 121px;
	display: block;
	margin: 0 0 0 7px;
	
}







	#col_gratis_demo ul{ 
		position:relative;
		top:30px;
		left:10px;
		
		font-family:Verdana, Arial, sans-serif, Times New Roman;
		font-size:12px; 
		
	  	
		text-align: left;
	  	color:#666666;
		/*width: 150px;*/
		/*
		margin: 10px 0 0 20px;
		*/
		padding: 0 0px 0px 0;
	}


	#col_gratis_demo ul li{ 
		list-style-type:none;
	}

	
	#col_gratis_demo ul li a{ 
		display:block;
		height:20px; 
		text-decoration: none;  
	} 
	
	#col_gratis_demo ul li a:hover{ 
		text-decoration: underline;
	}
	
	#col_gratis_demo ul li a.btn_lateral_demo{ 
		width: 179px;
	  	height:17px;
		list-style-type:none;
	  	margin: 0 0 5px 0;
		font-family: Arial, Helvetica, sans-serif; 
		font-size:12px; 
		color:#666666;
		padding: 0 0 0 0;
	
	}


/* ************************************************************************************* */


#col_dir_gratis_demo{
  width: 190px;
  height: 750px;
  float: left;
  padding: 15px 0 0 0;
}

	#col_dir_gratis_demo ul{ 
		position:relative;
		top:30px;
		left:10px;
		float:left;	
		font-family:Verdana, Arial, sans-serif, Times New Roman;
		font-size:12px; 
		
	  	
/*		text-align: left;*/
	  	color:#666666;
		/*width: 150px;*/
		/*
		margin: 10px 0 0 20px;
		*/
		padding:0;
	}


	#col_dir_gratis_demo ul li{ 
		list-style-type:none;
		float:left;
	}

	
	#col_dir_gratis_demo ul li a{ 
		display:block;
		height:20px; 
		text-decoration: none;  
		floa: left;
	} 
	
	#col_dir_gratis_demo ul li a:hover{ 
		text-decoration: underline;
	}
	
	#col_dir_gratis_demo ul li a.btn_lateral_demo{ 
		width: 179px;
	  	height:17px;
		list-style-type:none;
	  	margin: 0 0 5px 0;
		font-family: Arial, Helvetica, sans-serif; 
		font-size:12px; 
		color:#666666;
		padding: 0 0 0 0;
		float:left;
	}

/* ************************************************************************************************************* */


.btn_lateral{ 
	  	height:17px;
		display: block;
		font-family: Arial, Helvetica, sans-serif; 
		font-size:12px;
		text-align: right; 
		color:#666666;
		margin: 0 0 5px 0;
		padding: 0;
		float:left;
		
		
}

.btn_lateral a{ 
		list-style-type:none;
		text-decoration: none;		
}

.btn_lateral a:hover{ 
		text-decoration: underline;
}




.btn_lateral_demo{ 
	width: 170px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#666666;
	margin: 5px 0 0 15px;
	padding: 0 0 0 0;
	float:left;
}

.btn_lateral_demo a{ 
	list-style-type:none;
	text-decoration: none;		
}

.btn_lateral_demo a:hover{ 
	text-decoration: underline;
}


.btn_lateral_demo_b{ 
	width: 225px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#666666;
	text-align: right;
	margin: 5px 0 0 25px;
	padding: 0 0 0 0;
	float:left;
			
}

.btn_lateral_demo_b a{ 
	list-style-type:none;
	text-decoration: none;		
}

.btn_lateral_demo_b a:hover{ 
	text-decoration: underline;
}




.btn_lateral_demo_c{ 
	width: 225px;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#666666;
	margin: 5px 0 0 10px;
	padding: 0 0 0 0;
	float:left;
}

.btn_lateral_demo_c a{ 
	list-style-type:none;
	text-decoration: none;		
}

.btn_lateral_demo_c a:hover{ 
	text-decoration: underline;
}

/* ***************************************************************************************** */



#cont_formulario_cursos_gratis{
  width:395px;
  height: 100px;
  float: left;
  padding: 15px 0 0 0;
  margin: 0 10px 30px 0;
}

#cont_form_cursos_gratis{
  width:400px;
  float: left;
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
}

#cont_form_cursos_gratis_b{
	width:400px;
	height: 350px;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
}

.tit_formulario_cursos_gratis{
	width: 200px;
	display: block;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:21px; 
	font-weight: normal;
	/*text-align: justify;*/
	text-align:right;
	color: #648ec9;
	margin: 0 0 0 180px;

}

.area_txt_form_cursos_gratis{
	width: 290px;
  display: block;
  float: left;
  padding: 20px 0 20px 5px;
	margin: 0 0 0 88px;
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
  font-weight: normal;
  text-align: justify;
	color: #666666;
}
















#btn_emitir_cert{ 
	width: 120px;
	height:45px;
	float: left;
	margin: 0;
	padding: 0;
}


#btn_emitir_cert ul{ 
	width: 120px;
	height:21px;
	margin: -23px 0 0 15px;
	padding: 0;
	float:left;
}
#btn_emitir_cert li{ 
	float:left; 
	list-style-type:none;
}

#btn_emitir_cert ul li a.btn_emitir{ 
	width: 120px;
	height:21px;
	margin: 0;
	padding: 0;
	float:left;
	background-image:url(imagens/emitir_certificado.png); 
	background-repeat:no-repeat;
	
}

#btn_emitir_cert ul li a{ 
	width: 120px;
	height:22px;
}

#btn_emitir_cert ul li a:hover{ 
	background-position: 0 -21px;
}


























/* Inicio da Blogs */

#cont_blogs{
	margin: 0 auto;
	width: 799px;
  padding: 0 0 0 0;
  border-left: 2px dotted #e6e6e6;
  border-right: 2px dotted #e6e6e6;
}
.tit_01_blogs{
	width: 692px;
	height: 105px;
	float: left;
	padding: 66px 0 0 107px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 23px;
	color: #2a5e9c;
	border-bottom: 2px dotted #e6e6e6;
	background-image: url("imagens/estrela.png");
	background-repeat: no-repeat;
	background-position: 37px 54px;
	position: relative;
}
#blog_til{
	color: #6699CC;
	display: block;
	float: left;
	font-family: Verdana,Arial,sans-serif,Times New Roman;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	width: 541px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 8px;
	padding-top: 29px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 50px;
}
#til_form{
	font-size: 14px;
	position: absolute;
	width: 308px;
	text-align: center;
	left: 465px;
	top: 0px;
	height: 159px;
	padding: 13px 0 0 11px;
	border-left: 2px dotted #e6e6e6;
}
#form_login{
	font-size: 16px;
	color: #666666;
	position: absolute;
	left: 530px;
	top: 53px;
}
#form_login input{
	width: 159px;
	height: 15px;
	margin: 0 0 5px 0;
	padding: 0 0 0 2px;
	font-family: Trebuchet MS;
	font-weight: normal;
	font-size: 11px;
	color: #666666;
}
#form_login input[type="submit"]{
	width: 41px;
	height: 23px;
	margin: -10px 0 0 164px;
	cursor: pointer;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.img_blogs{
	width: 765px;
  float: left;
  padding: 0 0 0 40px;
  margin-top:25px;
}
  margin: 30px 0 0 20px; .blogs{

  display: block; 
  float: left;
}

/* Fim da Blogs */

/* Inicio da Institucional */


#cont_instituc{
	margin: 0 auto;
	width: 799px;
  padding: 0 0 0 0;
}

#col_esq_instituc{
	width: 285px;
  float: left;
  padding: 40px 0 0 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
  font-weight: normal;
/*  border-left: 2px dotted #e6e6e6;*/
}

#col_esq_instituc ul{ 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	color:#000;
	width: 200px;
	margin: 10px 0 0 20px;
	padding: 0 0 0 0;
}

#col_esq_instituc ul li{ 
	list-style-type:none;
}

#col_esq_instituc ul li a{ 
	display:block;
	height:20px; 
	text-indent:-9999px;
} 

#col_esq_instituc ul li a:hover{ 
	background-position:0 -17px;
}

#col_esq_instituc ul li a.btn_01_lateral{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn01_menu_lateral_instituc.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_01_lateral_on{ 
	width: 223px;
  height:17px;
	list-style-type:none;
	background-image:url(imagens/btn01_menu_lateral_instituc_b.png); 
	background-repeat:no-repeat;
  background-position: 0 0;
	display:block;  
  margin: 2px 0 0 0;
	background-position:0 0;

}

#col_esq_instituc ul li a.btn_02_lateral{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn02_menu_lateral_instituc.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_02_lateral_on{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn02_menu_lateral_instituc_b.png); 
	background-repeat:no-repeat;
  background-position: 0 0;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_03_lateral{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn03_menu_lateral_instituc.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_03_lateral_on{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn03_menu_lateral_instituc_b.png); 
	background-repeat:no-repeat;
  background-position: 0 0;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_04_lateral{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn04_menu_lateral_instituc.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_04_lateral_on{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn04_menu_lateral_instituc_b.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_05_lateral{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn05_menu_lateral_instituc.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_esq_instituc ul li a.btn_05_lateral_on{ 
	width: 223px;
  height:17px;
	text-align: center;
	list-style-type:none;
	background-image:url(imagens/btn05_menu_lateral_instituc_b.png); 
	background-repeat:no-repeat;
	display:block;  
  margin: 2px 0 0 0;
}

#col_dir_instituc{
	width: 405px;
  float: left;
  padding: 40px 3px 0 0;
  border-left: 2px dotted #e6e6e6;
  border-right: 2px dotted #e6e6e6;
}

.tit_01_b{
  display: block;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:21px; 
  font-weight: normal;
  text-align: justify;
	color: #2a5e9c;
  margin: 0 0 20px 15px;
}

.spr_instituc{
	width: 405px;
  height: 2px;
  display: block;
  border-bottom: 2px dotted #e6e6e6;
}

.area_txt_01_instituc{
	width: 380px;
	display: block;
	float: left;
	padding: 22px 0 20px 15px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.area_foto_sede{
	width: 415px;
  height:400px;
	background-image:url(imagens/predio_sede.png); 
	background-repeat:no-repeat;
	background-position: 0 0;
  display: block;  
  margin: 0 0 0 0;
  
}

.area_logo_pet_tecnopolis{
	width: 180px;
  height:100px;
	background-image:url(imagens/logo_pet_tecnopolis.png); 
	background-repeat:no-repeat;
	display: block; 
  float: right; 
  margin: 30px 5px 0 0;
}
.txt_pet_tec{
	width: 134px;
	display: block;
	float: right;
	margin: 10px 17px 0 0;
	padding: 0;
	font-family: Verdana, Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: normal;
	text-align: justify;
	line-height: 13px;
	color: #666666;
}

/* Plataforma 02 */

.sub_tit_plataforma{
  margin: 0 0 0 15px;
  color: #648ec9;
  font-size: 12px; 
  font-weight: bold;
  font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;
}

.area_txt_01_plataforma{
	width: 380px;
	display: block;
	float: left;
	padding: 5px 0 20px 15px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

/*  Plataforma 04  */

.sub_tit_cursos{
  margin: 0 0 0 15px;
  color: #648ec9;
  font-size: 10.4px; 
  font-weight: bold;
  font-family:  Trebuchet MS, Arial, Helvetica, sans-serif;
}

#bloco_demo{
  width: 412px;
  height: 110px;
  float: left;
  border-top: 2px dotted #e6e6e6;  
}
.tit_formulario{
	display: block;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:21px; 
	font-weight: normal;
	text-align: justify;
	color: #648ec9;
	margin: 30px 0 0 100px;
}

/* Plataforma 05 */

.area_txt_foto{
	width: 380px;
	display: block;
	float: left;
	padding: 0 0 0 13px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

/*  Conteudo Projetos  */

#cont_projetos{
	margin: 0 auto;
	width: 420px;
	padding: 40px 0 0 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	border-left: 2px dotted #e6e6e6;
	border-right: 2px dotted #e6e6e6;
}

.area_txt_01_projetos{
	width: 390px;
	display: block;
	float: left;
	padding: 22px 0 30px 15px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.area_foto_esq{
	width: 120px;
	display: block;
	float: left;
	padding: 0 0 0 13px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.area_txt_dir{
	width: 263px;
	display: block;
	float: left;
	padding: 0 0 15px 10px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	line-height: 14.8px;
	color: #666666;
}

.tit_01_projetos{
	display: block;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:23px; 
	font-weight: normal;
	text-align: justify;
	color: #2a5e9c;
	margin: 0 0 20px 15px;
}

.spr_projetos{
	width: 420px;
	height: 2px;
	display: block;
	border-bottom: 2px dotted #e6e6e6;
}

/* Parcerias */

.sub_tit_parcerias{
  display: block;
  color:#648ec9;
  font-weight:bold;
  padding: 20px 0 0 15px;	
  font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
  font-size:12px;
}

.area_txt_01_parcerias{
	width: 390px;
	display: block;
	float: left;
	padding: 10px 0 20px 15px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}
 
.area_foto_parcerias{
	width: 412px;
	height: 358;
	display: block;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 5px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.area_foto_parcerias_b{
	width: 412px;
	height: 358;
	display: block;
	float: left;
	padding: 0 0 0 0;
	margin: 0 0 0 8px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.bloco_parcerias{
	width: 372px;
  display: block;
  float: left;
  padding: 15px 0 5px 0;
}

#cont_form_parceria{
  width:415px;
  height: 245px;
  float: left;
  padding: 15px 0 0 2px;
  margin: 0 0 10px 210px;
}

.area_txt_form{
	width: 500px;
	display: block;
	float: left;
	padding: 20px 15px 20px 15px;
	margin: 0 0 0 85px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.area_txt_form_parceria{
	width: 335px;
	display: block;
	float: left;
	padding: 20px 15px 20px 15px;
	margin: 0 0 0 25px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

/* Contatos */

.bloco_contato{
	width: 410px;
	height: 120px;
	float: left;
	display: block;
}

.col_esq_contato{
	width: 120px;
	height:70px;
	float: left;
	display:block;  
	padding: 38px 0 0 20px;
	margin:0 0 0 0; 
}

.col_dir_contato{
	width: 220px;
	height:40px;
	float: left;
	display:block;  
	padding: 52px 0 0 0;
	margin: 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.bloco_contato_2{
	width: 410px;
	height: 160px;
	float: left;
	display: block;
}

.col_esq_contato_2{
	width: 120px;
	height:70px;
	float: left;
	display:block;  
	padding: 70px 0 0 20px;
	margin:0 0 0 0; 
}

.col_dir_contato_2{
	width: 220px;
	height:40px;
	float: left;
	display:block;  
	padding: 52px 0 0 0;
	margin: 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}

.bloco_contato_3{
  width: 410px;
  height: 200px;
  float: left;
  display: block;
}

.col_esq_contato_3{
	width: 120px;
	height:70px;
	float: left;
	display:block;  
	padding: 67px 0 0 20px;
	margin:0 0 0 0; 
}

.col_dir_contato_3{
	width: 220px;
	height:40px;
	float: left;
	display:block;  
	padding: 52px 0 0 0;
	margin: 0;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;      
}

#cont_form{
	width:413px;
	padding: 10px 0 0 8px;
	border-top: 2px dotted #e6e6e6;
	background-color: #fff;
  
}

.campo_form{
	width:115px;
	height: 17px;
	display: block;
	float: left;
	padding: 2px 0 0 3px;
	margin: 0 7px 0 0;
	text-align: right;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight: normal;
	color: #666666;
}
.campo_form_b{
	width:118px;
	height: 17px;
	display: block;
	float: left;
	padding: 2px 0 0 0;
	margin: 0 7px 0 0;
	text-align: right;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight: normal;
	color: #666666;
}

.campo_form_02{
	width:278px;
	height: 17px;
	display: block;
	float: left;
	padding: 2px 0 0 0;
	margin: 0 7px 0 0;
	text-align: right;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:11px; 
	font-weight: normal;
	color: #666666;   
}


#msg_envio_emial_parceria{
	width: 550px;
	height: 200px;
	position: absolute;
	margin: 130px -73px;
	background-color: #99cc00;
}


#msg_envio_emial_contato{
	width: 550px;
	height: 200px;
	position: absolute;
	margin: 50px -65px;
	background-color: #99cc00;
}

.blueLabel {
	color:#6699CC;
}

.area_txt_cursos_gratis{
	width: 380px;
	display: block;
	float: left;
	padding: 0 0 20px 15px;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
}


#conteudoCertificado {
	min-height:500px;
	margin: 0 auto;
	width: 900px;
	padding: 0 0 0 0;
}

#coluna_esq {
	position:relative;
	float:left; 
	width:265px; 
	min-height:500px;
}
	
#coluna_dir {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
	float:left;
	width:630px;
	position:relative;
	border-left: 2px dotted #e6e6e6;
	border-right: 2px dotted #e6e6e6;
	padding: 0 0 20px 0;
	min-height: 500px;
}

#coluna_dir_certificado{
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size:12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
	float:left;
	width:630px;
	position:relative;
	border-left: 2px dotted #e6e6e6;
	border-right: 2px dotted #e6e6e6;
	padding: 0 0 30px 0;
	min-height: 800px;
}



.winCursos {
	position:relative;
	top:-50px;
	left:250px;
	z-index:99;
}

	.titWin {
		position:relative; background:url(imagens/balaoCursosInd2.png);
		
		font-family:Verdana, Arial, sans-serif, Times New Roman;
		font-style:italic;
		font-weight:bold;
		font-size:12px;
		color:#6699CC;
		text-align:left;
		
		width:303px;
		height:36px;
		
		text-indent:60px;
	}
	
		.bt_close {
			cursor:pointer; padding:5px; background:#666666; color:#FFFFFF; margin-left:100px;
		}
	
	.textWin {
		position:relative; background:url(imagens/balaoCursosCenter2.png) repeat-y; 
		
		font-family:Verdana, Arial, sans-serif, Times New Roman;
		font-size:12px;
		color:#666666;
		text-align:left;
		
		padding-left:40px;
		
		width:303px;
	}
	
	.subTitPerg {
		font-family:Verdana, Arial, sans-serif, Times New Roman;
		font-style:italic;
		font-weight:bold;
		text-align: left;
		font-size:12px;
		color:#6699CC;
	}
	
	#topoProva {
		position:relative;
		top:0px;
		left:0px;
		margin:0px;
	
		float:left;
	
		border-bottom: 2px dotted #e6e6e6;
		
		padding:0px;
		
		width:630px;
		height:120px;
		
		text-align:left;
	}
	
		.tituloTopoProva {
			font-family:Verdana, Arial, sans-serif, Times New Roman;
			font-style:italic;
			font-weight:bold;
			text-align: left;
			font-size:24px;
			color:#6699CC;
			
			margin-top:10px;
			margin-left:50px;
		}
		
		.blTextTpPrv {
			font-family:Verdana, Arial, sans-serif, Times New Roman;
			text-align: left;
			font-size:10px;
			color:#000000;
			
			margin:0px;
			margin-left:50px;
		}
		
	#bloco_prova {
		float:left;
		padding-top:20px;
		padding-left:50px;
		padding-right:20px;
	}
	
	#bottom_bt {
		position:relative;
		top:0px;
		left:0px;
		margin:0px;
	
		float:left;
	
		border-top: 2px dotted #e6e6e6;
		
		padding:0px;
		
		width:630px;
		height:84px;
		
		text-align:center;
	}
	
	.img_demo2{
	  padding:0px;
	  border-bottom: 2px dotted #e6e6e6;
	  float: left;
	  text-align:right;
	  
	  width:265px;
	}
	
	#divisLogin {
		position:relative;
		top:0px;
		left:0px;
		margin:0px;
	
		float:left;
	
		border-bottom: 2px dotted #e6e6e6;
		
		padding:0px;
		
		width:630px;
		height:230px;
		
		text-align:left;
		
		background:#f2f2f2;
	}
	
	.btEntrar {
		background-color:#999999;
		padding:5px;
		border:none;
		font-family: Verdana,Trebuchet MS, Arial, Helvetica, sans-serif; 
		color:#FFFFFF;
		font-style:normal;
		font-weight:bold;
		font-size:10px;
		cursor: hand;
	}
	
	
	.tit_formulario_cursos_express{
		width: 300px;
		display: block;
		font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
		font-size: 21px; 
		font-weight: normal;
		/*text-align: justify;*/
		text-align:right;
		color: #648ec9;
		margin: 0 0 0 82px;
	
	}
	
	.cont_bar_left{
		width: 250px;
		margin: 0 0 20PX 0;
		padding: 0 30px 0 0;
		display: block;
		float: right;
		font-family:Verdana, Arial, sans-serif, Times New Roman;
		text-align: right;
		font-size:12px;
		color:#666666;
		
		border-bottom:#e6e6e6 dotted 2px;
	}
	
	.btSpan {
		cursor:pointer;
		color:#999999;
		font-size:10px;
	}
	
	.tit_nome_cursos_express{
		font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
		font-size:12px; 
		font-weight: normal;
		font-weight:bold;
		/*text-align: justify;*/
		color: #648ec9;
	}
	
	
/*  Aplioca��es ------------------------------------------------------------------------------------------- */


.sub_tit_01{
	display: block;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size: 16px; 
	font-weight: normal;
	text-align: justify;
	color: #2a5e9c;
	margin: 25px 0 5px 15px;
}


.txt_aplicacoes{
	width: 265px;
	display: block;
	float: left;
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	font-weight: normal;
	text-align: justify;
	color: #666666;
	margin: 0 0 20px 15px;
}
/* altera��o para lista de blogs*/

ul.lista_blogs{
	margin:0;
	padding:0;
}
ul.lista_blogs li{
	list-style:none;
	/*display:inline;*/
	float:left;
	text-align:center;
	width:215px;
	height:190px;
	margin:0 10px;
	cursor: pointer;
}
ul.lista_blogs li a{
	text-decoration: none;
}
ul.lista_blogs li img{
	border:4px solid #E5EFFE;
}
ul.lista_blogs li p{
	color: #666666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	margin: 1px 0 3px 0;
	width: 223px;
}

.blog_subtitulo {
	color: #6699CC;
	display: block;
	float: left;
	font-family: Verdana,Arial,sans-serif,Times New Roman;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	text-align: left;
	width: 541px;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 32px;
	padding-top: 2px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 13px;
}
/*----------------------HTML5-------------------*/
		.blocos {
			position: relative;
			width: 374px;
			height:148px;
			float: left;
			border-bottom: 2px dotted #E6E6E6;
			overflow:hidden;
			
		}#col_dir a{
			text-decoration: none;
		}
		.textosP{
			position: absolute;
			color: #8FAED8;
			font-size: 11.5px;
			text-align: right;
			width: 156PX;
			left: 46px;
			top: -19px;
		}
		.textosG{
			position:absolute;
			color: #8faed8;
			font-size: 15.5px;
			font-style: italic;
			left: -135px;
			top:67px;
		}
		.textosGB{
			position: absolute;
			color: #8faed8;
			font-size: 15px;
			font-style: italic;
			font-weight: bold;
			font-family:verdana;

		}
		#texto1_3{
			top:149px;
			left: 98px;

		}
		#texto2_2{
			top:64px;
			left:-168px;
		}
		#texto3_2{
			top: 58px;
		}
		#texto3_3{
			top:146px;
			left:91px
		}
		#texto4_3{
			top: 145px;
			left: 115px;
			font-size: 16px;
			font-style: none;

		}
		.imgs{
			position: absolute;
			width:111px;
			height:91px;
			left:383px;
			top:18px;
		}
		#img_1{
			background-image: url('imagens/botao1.png');
			top:33px;
		}
		#img_2{
			background-image: url('imagens/botao2.png');
			background-repeat: no-repeat;
			background-position: 10px;
			background-position-y: 20px;
		}	
		#img_3{
			background-image: url('imagens/botao3.png');
			background-repeat: no-repeat;
			background-position: 7px;
			background-position-y: 18px;
		}
		#img_4{
			background-image: url('imagens/botao4.png');
			background-repeat: no-repeat;
			background-position-x: -10px;
			background-position-y: 2px;
		}
		##til_form{
			
		}